@model Topic
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4 col-md-8">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Thêm đề tài</h6>
        </div>
        <div class="card-body">
            <form action="/topic/update" method="post">
                <input asp-for="Id" type="hidden" />
                <div class="mb-3"><label for="name">Tên đề tài</label><input asp-for="Name" type="text" class="form-control" /></div>
                <div class="mb-3"><label for="content">Nội dung</label>
                @Html.TextAreaFor(model => model.Content, new { @id = "ckeditor", @class = "form-control" })    
                </div>
                @*<div class="mb-3"><label for="deadline">Kì hạn</label><input asp-for="Deadline" type="text" class="form-control" /></div>*@
                <div class="mb-3">
                    <label for="class">Giảng viên hướng dẫn</label>
                    @Html.DropDownListFor(model => model.TeacherId, ViewBag.DataTeachers as SelectList, new { @class = "form-control" })
                </div>
                <div class="mb-3">
                    <label for="class">Kì thực tập</label>
                    @Html.DropDownListFor(model => model.SemesterId, ViewBag.DataSemesters as SelectList, new { @class = "form-control" })
                </div>
                <div class="mb-3"><label for="reference">Tài liệu tham khảo</label><input asp-for="Reference" type="text" class="form-control" /></div>
                <input class="btn btn-success" type="submit" value="Xác nhận">
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

@section Scripts{
    <script>
        CKEDITOR.replace("ckeditor");
        CKEDITOR.config.height = 400;
    </script>
}
