@using InternManagement.Models
@model Student
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4 col-md-8">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cập nhật thông tin sinh viên</h6>
        </div>
        <div class="card-body">
            <form action="/student/create" method="post">
                <div class="mb-3"><label for="name">Họ và tên</label><input class="form-control" id="name" type="text" name="UserName" placeholder="Nguyễn Văn A"></div>
                <div class="mb-3"><label for="email">Email</label><input class="form-control" id="email" type="email" name="Email"></div>
                <div class="mb-3"><label for="phone">Số điện thoại</label><input class="form-control" id="phone" type="text" name="Phone"></div>
                <div class="mb-3"><label for="subphone">Số điện thoại phụ</label><input class="form-control" id="subphone" type="text" name="SubPhone"></div>
                <div class="mb-3"><label for="identity">Mã sinh viên</label><input class="form-control" id="identity" type="text" name="Identity"></div>
                <div class="mb-3"><label for="password">Mật khẩu</label><input class="form-control" id="password" type="password" name="Password"></div>
                <div class="mb-3"><label for="address">Địa chỉ</label><input class="form-control" id="address" type="text" name="Address"></div>
                <div class="mb-3">
                    <label for="class">Mã lớp</label>
                    @Html.DropDownListFor(model => model.ClassCode, ViewBag.DataClasses as SelectList, new { @class = "form-control" })
                </div>
                <input class="btn btn-success" type="submit" value="Xác nhận">
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
